.header-wrapper {
    position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 60px;
    padding: 0px 20px;

    border-bottom: solid 1px #F2F2F2;
    background-color: var(--bg);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 3px 0px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    gap: 25px;
}


.header-title {
    height: 32px;
    width: auto;

    line-height: 100%;
    font-size: 32px;
    text-align: left;

    display: flex;
    align-items: center;
}

.header-title a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: translateX 0.3s ease-in;
}

/**/


.profile-menu .profile-card {
    width: 200px;
}

#profileImage,
.myProfileImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 영역에 맞게 꽉 채움 */
    display: block;    /* 여백 제거 */
    background-color: var(--sub-bg);
    background-image: url('/images/profile_placeholder.svg');
    background-size: cover;
    background-position: center;
}

.profile-menu {
    position: absolute;
    top: 55px;
    right: 20px;
    width: 200px;
    height: 105px;
    background: var(--bg);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    padding: 8px 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.profile-menu button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

.profile-menu button:hover {
    font-weight: 600;
}



.header-wrapper .header-hidden {
    transform: translateY(-100%);
    opacity: 0;
}
