.join-wrapper {
    width: 390px;
}

#join-title {
    height: 38px;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#join-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-page .field__label {
    display: block;
    height: 18px;
    font-size: 16px;
    line-height: 100%;
    font-weight: bold;

    margin-top: 7px;   /* 142 - 93 = 49px = 33 + 16*/
    margin-bottom: 3px; /* 93 - 67 = 25px = 18 + 7*/
}
.join-page .field {
    width: 355px;
}

.field__file__input {
    display: none;
    
}

.upload-circle {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    cursor: pointer;
}

.upload-circle .plus-icon {
    height: 24px;
    width: 24px;
}

.upload-circle:hover {
    background: #c8c8c8;
}

.upload-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.join-page .field__input {
    width: 355px;
    height: 33px;
    font-size: 15px;

    padding-left: 10px;

    border-radius: var(--radius);
    border: 1px solid black;
}

.field__hint {
    margin-top: 5px;
    margin-bottom: 15px;
}

.join-button {
    width: 360px;
    height: 35px;
    margin-top: 10px;
    border-radius: var(--radius);
    border-color:var(--invalid-btn-bg);
    background-color: var(--invalid-btn-bg);
    color: white;
    font-size: 15px;
}

#login-link {
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    height: 17px;
}

