.login-wrapper {
    width: 390px;
}

#login-title {
    height: 38px;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 51px; /* 67 - 16 */
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field__label {
    display: block;
    height: 18px;
    font-size: 16px;
    line-height: 100%;
    font-weight: bold;

    margin-top: 16px;   /* 142 - 93 = 49px = 33 + 16*/
    margin-bottom: 7px; /* 93 - 67 = 25px = 18 + 7*/
}
.field__input {
    font-size: 15px;
    width: 355px;
    height: 33px;
    padding-left: 10px;

    border-radius: var(--radius);
    border: 1px solid black;
}

#login-button {
    background-color: var(--invalid-btn-bg);
    width: 360px;
    height: 35px;

    border-radius: var(--radius);
    border-color:var(--btn-bg);
    color: white;

    font-size: 15px;
}

.field__hint {

    width: 355px;
    
    margin-top: 5px;
    margin-bottom: 15px;
}

#password-hint {
    margin-bottom: 25px;
}

.login-page #join-link {
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    height: 17px;
}

.login-valid {
    /* #login-butto 보다 우선순위를 높게 */
    background-color: var(--valid-btn-bg) !important;
}